@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
:root {
  --Light_red: hsl(356, 100%, 66%);
  --Very_light_red: hsl(355, 100%, 74%);
  --Very_dark_blue: hsl(208, 49%, 24%);
  --White: hsl(0, 0%, 100%);
  --Grayish_blue: hsl(240, 2%, 79%);
  --Very_dark_grayish_blue: hsl(207, 13%, 34%);
  --Very_dark_black_blue: hsl(240, 10%, 16%);
  --Very_light_red: hsl(13, 100%, 72%);
  --Light_red: hsl(353, 100%, 62%);
  --Very_dark_gray_blue: hsl(237, 17%, 21%);
  --Very_dark_desaturated_blue: hsl(237, 23%, 32%);
}
body {
  height: 100vh;
  width: 100%;
}
.header_section {
  padding: 20px;
  width: 100%;
  height: 100vh;
  background: url(images/bg-pattern-intro-desktop.svg),
    linear-gradient(var(--Very_light_red), var(--Light_red));
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0px 0px 0px 200px;
}
header {
  display: flex;
  justify-content: space-between;
}
header img {
  height: 40px;
  width: 100px;
}
nav {
  display: flex;
  justify-content: space-between;
  width: 80%;
  gap: 5px;
}

nav button {
  width: 200px;
  height: 30px;
  border-radius: 20px;
  font-size: 16px;
  background-color: transparent;
  border: 2px solid var(--White);
  cursor: pointer;
  color: var(--White);
  font-weight: 600;
  transition: 0.5s;
}
nav button:hover {
  background-color: var(--White);
  color: var(--Very_dark_black_blue);
}
.active_btn {
  background-color: var(--White);
  color: var(--Very_dark_black_blue);
  transition: 0.5s;
}
.active_btn:hover {
  color: var(--White);
  background-color: transparent;
}
ul {
  display: flex;
  width: 100%;
  gap: 50px;
}
li {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 3px;
}
li img {
  height: 10px;
  width: 15px;
  cursor: pointer;
}
li a {
  color: var(--White);
  text-decoration: none;
}
.choiceElement {
  display: none;
  flex-direction: column;
  gap: 10px;
  background-color: #ffffff4f;
  color: var(--Very_dark_black_blue);
  padding: 10px;
  border-radius: 10px;
  position: fixed;
  margin-top: 10px;
}
.new_choiceElement {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ffffff4f;
  color: var(--Very_dark_black_blue);
  padding: 10px;
  border-radius: 10px;
}
.choiceElement span {
  transition: 0.5s;
  cursor: pointer;
}

.choiceElement span:hover {
  color: var(--White);
}
.body-section {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.body-section h1 {
  font-size: 4rem;
  color: var(--White);
  text-transform: capitalize;
}
.body-section p {
  color: var(--Grayish_blue);
  font-size: 18px;
}
.btn_container {
  display: flex;
  gap: 50px;
}
.btn_container button {
  width: 200px;
  height: 40px;
  border-radius: 20px;
  border: 2px solid var(--White);
  background-color: transparent;
  color: var(--White);
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s;
}
.btn_container button:hover {
  background-color: var(--White);
  color: var(--Very_dark_black_blue);
}
.btn_container .active_btn {
  background-color: var(--White);
  color: var(--Very_dark_black_blue);
  transition: 0.5s;
}
.btn_container .active_btn:hover {
  color: var(--White);
  background-color: transparent;
}
.discription_section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  flex-direction: column;
}
.discription_section h1 {
  color: var(--Very_dark_blue);
  text-transform: capitalize;
}
.discription_container {
  display: flex;
  gap: 20px;
  align-items: center;
}
.text_discription {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  padding: 20px;
  margin-left: 40px;
}
.text_discription h4 {
  color: var(--Very_dark_desaturated_blue);
  font-size: 16px;
  font-weight: 700;
}
.text_discription p {
  width: 70%;
  color: var(--Very_dark_black_blue);
}
.img_description {
  height: max-content;
  width: 50%;
}
.img_description img {
  height: max-content;
  width: 100%;
}
.bloger_section {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  align-items: center;
  background: url(images/bg-pattern-circles.svg),
    linear-gradient(
      var(--Very_dark_gray_blue),
      var(--Very_dark_desaturated_blue)
    );
  background-repeat: no-repeat;
  border-radius: 10px 150px;
  height: 470px;
  margin: 20px;
}
.text_bloger {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}
.text_bloger h4 {
  color: var(--White);
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
}
.text_bloger p {
  width: 70%;
  color: var(--Grayish_blue);
}
.resume_section {
  display: flex;
  gap: 20px;
  margin-top: 50px;
  align-items: center;
}
.resume_section .img_content {
  height: 400px;
  width: 50%;
}
.resume_section .img_content img {
  height: max-content;
  width: 100%;
}
.text_content {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer {
  display: flex;
  justify-content: space-around;
  background-color: var(--Very_dark_black_blue);
  color: var(--White);
  height: 300px;
  border-radius: 0px 30px 0px 0px;
  padding: 30px;
  margin-top: 50px;
}
footer img {
  height: 40px;
  width: 100px;
}
.footer_container {
  display: flex;
  gap: 30px;
  flex-direction: column;
}
.footer_container h3::after {
  content: "";
  display: block;
  height: 4px;
  border-radius: 3px;
  width: 50%;
  background-color: var(--White);
  margin-top: 5px;
}
.details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.details span {
  cursor: pointer;
  transition: 0.5s;
}
.details span:hover {
  color: var(--Light_red);
}
#close_nav {
  display: none;
}
#open_nav {
  display: none;
}

@media only screen and (max-width: 600px) {
  .header_section {
    padding: 20px;
    width: 100%;
    height: 100vh;
    background: url(images/bg-pattern-intro-mobile.svg),
      linear-gradient(var(--Very_light_red), var(--Light_red));
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 0px 0px 0px 200px;
  }
  nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.342);
    height: 300px;
    position: fixed;
    top: 0;
    right: -500px;
    height: 100vh;
    transition: 0.5s;
  }
  .new_nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.342);
    height: 300px;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
  }
  #close_nav {
    display: block;
    height: 20px;
    width: 20px;position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
  }
  #open_nav {
    display: block;
    height: 30px;
    width: 30px;
  }
  ul {
    display: flex;
    width: 100%;
    gap: 50px;
    flex-direction: column;
  }
  li a {
    color: var(--White);
    text-decoration: none;
  }
  .choiceElement {
    display: none;
    flex-direction: column;
    gap: 10px;
    background-color: #ffffffa2;
    color: var(--Very_dark_black_blue);
    padding: 10px;
    border-radius: 10px;
    position:relative;
 
  }
  .new_choiceElement {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ffffff4f;
    color: var(--Very_dark_black_blue);
    padding: 10px;
    border-radius: 10px;
  }
  .body-section h1 {
    font-size: 2rem;
    text-align: center;
    color: var(--White);
    text-transform: capitalize;
  }
  .btn_container {
    display: flex;
    gap: 10px;
  }
  .btn_container button {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid var(--White);
    background-color: transparent;
    color: var(--White);
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.5s;
  }
  .discription_container {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
  }
  .text_discription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 20px;
    margin-left: 40px;
  }
  .bloger_section {
    display: flex;
    margin-top: 10px;
    align-items: center;
    background: url(images/bg-pattern-circles.svg),
      linear-gradient(
        var(--Very_dark_gray_blue),
        var(--Very_dark_desaturated_blue)
      );
    background-repeat: no-repeat;
    border-radius: 10px 150px 10PX 10px;
    padding: 20px;
    height: 470px;
    margin: 20px;
    flex-direction: column;
    height: max-content;
  }
  .text_bloger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
  }
  .img_bloger img{
    width: 90%;
  }

  .resume_section {
    display: flex;
    gap: 20px;
    margin-top: 50px;
    align-items: center;
    flex-direction: column;
  }
  .resume_section .img_content {
    height: 400px;
    width: 100%;
  }
  footer {
    display: flex;
    justify-content: center;
    gap: 10PX;
    align-items: center;
    background-color: var(--Very_dark_black_blue);
    color: var(--White);
    height: 300px;
    border-radius: 0px 30px 0px 0px;
    padding: 30px;
    margin-top: 50px;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
